h1 {
    color: purple;
    text-align: center;
    font-family: verdana;
    margin: 50px;
    font-size: 45px;
    text-shadow: 2px 2px 5px darkblue;
    }

h3 {
    color: darkpurple;
    text-align: left;
    padding: 30px;
    }

﻿p { 
     padding: 30px;
}

#onyx{
    font-size: 30px;
    font-family: verdana;
    text-shadow: 2px 2px 5px darkblue;
    text-align: center;
}

.catname{
    font-family: fantasy;
    font-weight:bold;
}

.mysc{
    font-size: 12px;
    font-style: italic;
}

.Author
{
    text-align: center;
    font-weight:bold;
    font-style: italic;
}

.Button
{
    font-family: fantasy;
    font-weight:bold;
    font-style: italic;
}

ol li{
    color: black;
    
}

ul li{
    color: black;
    
}

@media (min-width: 800px){
    body{
        background-color: whitesmoke;
        
    }
}
@media (max-width: 799px){
    body{
        background-color: purple;
        
    }
}
