h1 {
    color: purple;
    text-align: center;
    font-family: verdana;
    margin: 50px;
    font-size: 45px;
    text-shadow: 2px 2px 5px darkblue;
    }

h3 {
    color: darkpurple;
    text-align: left;
    padding: 30px;
    }

﻿p { 
     padding: 30px;
}

#onyx{
    font-size: 30px;
    font-family: verdana;
    text-shadow: 2px 2px 5px darkblue;
    text-align: center;
}

.catname{
    font-family: fantasy;
    font-weight:bold;
}

.mysc{
    font-size: 12px;
    font-style: italic;
}

.Author
{
    text-align: center;
    font-weight:bold;
    font-style: italic;
}

.Button
{
    font-family: fantasy;
    font-weight:bold;
    font-style: italic;
}

ol li{
    color: black;
    
}

ul li{
    color: black;
    
}

 @media (min-width: 600px){
    body {
        background-color: lightgrey;
        
    }
}
@media (max-width: 599px)
        {
    body {
        background-color: lightyellow; 
        }
}

@media (min-width: 600px){
    h2::before{
        content:"~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    }
}
@media (max-width: 599px){
    h2::before{
        content:"...............................";
    }
}


@media (min-width: 600px){
    h6::before{
        content:"Large Screen - Large Screen - Large Screen - Large Screen - Large Screen - Large Screen";
    }
}
@media (max-width: 599px){
    h6::before{
        content:"Small Screen - Small Screen - Small Screen - Small Screen";
    }
}

div{
    font-size: 50px;}
    div p{
        color:blue;} 
    div ol{
        color:green;}

