/* Original Variable form $ncolor: red; Was translated to CSS so imput the value */

.inheritance1, .inheritance2 {
  margin-top: 100px;
  padding: 20px;
  color: green;
}

.inheritance1 {
  border-style: double;
  border-color: orange;
}

.inheritance2 {
  border-style: ridge;
  border-color: cyan;
}

* {
    font-family: verdana;
}

#rainbow{
    color:purple;
    border-style: dashed;
  border-color: blue;
}

#rainbow h4{ 
    color: red;
  border-style: dotted;
  border-color: red;
}

#rainbow ol {
    color: green;}


