h1 {
    color: purple;
    text-align: center;
    font-family: verdana;
    margin: 50px;
    }

h3 {
    color: darkpurple;
    text-align: left;
    padding: 30px;
    }

﻿p { 
     padding: 30px;
}

#onyx{
    font-family: verdana;
    text-shadow: 2px 2px 5px darkblue;
    text-align: center;
}

.catname{
    font-family: fantasy;
    font-weight:bold;
}
